/* Fonts */
@font-face {
    font-family: 'Satoshi';
    src: url('/static/fonts/Satoshi-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.chat {
    width: calc(100% - 20px);
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease;
    margin: 0px 10px;
    padding: 2.5px 0px;
}

.chat:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chatname {
    width: auto;
    font-family: 'Satoshi', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    font-style: normal;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    transition: color 0.3s ease;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    border: none;
    color: var(--text-color);
    background-color: transparent;
    opacity: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.chat:hover .dots {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.dots:hover {
    cursor: pointer;
}