@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/static/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--content-width);
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    background: transparent;
    transition: width 0.3s ease, background 0.3s ease;
}

.chat {
    max-width: 650px;
    width: 100%;
    height: calc(100% - 150px);
    position: fixed;
    top: 50px;
    bottom: 100px;
    font-family: 'SpaceGrotesk';
    font-weight: normal;
    color: var(--text-color);
    transition: width 0.3s ease, color 0.3s ease;
    background: transparent;
}

.chatbox {
    background: var(--secondary-color);
    max-width: 650px;
    width: 100%;
    max-height: 150px;
    min-height: 75px;
    position: fixed;
    bottom: 12.5px;
    border-radius: 12.5px;
    z-index: inherit;
    transition: background 0.3s ease;
}

@media (max-width: 480px) {
    .chat {
        position: fixed;
        top: 50px;
        width: 100%;
    }

    .chatbox {
        position: fixed;
        bottom: 12.5px;
        width: calc(100% - 25px);
    }
}