@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/static/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/static/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.modal-background {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-background.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    height: 40%;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 26px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    line-height: 1.75;
    color: var(--text-color);
    overflow: hidden;
}

.title {
    width: 100%;
    height: auto;
    color: var(--text-color);
    font-family: 'SpaceGrotesk';
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
}

.x {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    color: var(--text-color);
    border: none;
    border-radius: 16px;
    background: transparent;
    cursor: pointer;
}

.x:hover {
    background: var(--secondary-color);
    transition: background 0.3s ease;
}

.x svg {
    width: 100%;
    height: 100%;
    align-self: center;
}

.file-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    background: transparent;
    margin: 0px;
    margin-bottom: 42px;
    padding: 0px;
    overflow: overlay;
    scrollbar-gutter: stable;
}

.file-list::-webkit-scrollbar {
    width: 8px;
}

.file-list::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.file-list::-webkit-scrollbar-track {
    background: transparent;
    cursor: default;
}

.divider {
    width: 100%;
    height: 1.5px;
    background: var(--secondary-color);
}

.labels {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background: transparent;
    border-radius: 5px;
    margin: 0px;
}

.labels p {
    width: calc((100% - 40px) / 2);
    height: auto;
    color: var(--text-color);
    font-family: 'SpaceGrotesk';
    font-size: 0.8rem;
    font-weight: normal;
    text-align: left;
    margin: 0px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.file {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    background: transparent;
    box-sizing: border-box;
}

.file-name {
    width: calc((100% - 32px) / 2);
    height: 50px;
    font-family: 'SpaceGrotesk';
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-color);
    background: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    transition: color 0.3s ease;
}

.file-status {
    width: calc((100% - 32px) / 2);
    height: 50px;
    font-family: 'SpaceGrotesk';
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-color);
    background: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    transition: color 0.3s ease;
}

.file-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.delete-button:hover {
    background: var(--red);
    color: white;
    transition: background 0.3s ease, color 0.3s ease;
}

.add-file {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 32px;
    height: 32px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 16px;
    color: var(--primary-color);
    background: var(--text-color);
}

.add-file svg {
    width: 100%;
    height: 100%;
    align-self: center;
}

.add-file:hover {
    background: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}