@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/static/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/static/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.file {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    background: transparent;
    box-sizing: border-box;
    padding: 5px;
    transition: background 0.3s ease;
}

.file:hover {
    background: var(--secondary-color);
    transition: background 0.3s ease;
}

.file-info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    margin: 0px;
}

.file-name {
    width: 100%;
    height: 32px;
    font-family: 'SpaceGrotesk';
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    background: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    transition: color 0.3s ease;
}

.file-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 100%;
    background: transparent;
    border: none;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.delete-button:hover {
    background: var(--red);
    color: white;
    transition: background 0.3s ease, color 0.3s ease;
}