/* Fonts */
@font-face {
    font-family: 'Satoshi';
    src: url('/static/fonts/Satoshi-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/static/fonts/Satoshi-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Flashcard element parent div */
.flashcard {
    width: calc(100% - 20px);
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease;
}

/* Textarea container div */
.text{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Textareas */
.text textarea {
    width: 50%;
    height: 100px;
    resize: none;
    border-radius: 5px;
    padding: 5px;
    border: none;
    font-family: 'Satoshi', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    min-height: 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Flashcard information */
.info {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.indicator {
    width: calc(100% - 32px);
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--text-color);
    transition: color 0.3s ease;
}

/* Delete button */
.delete-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.delete-card:hover {
    background: var(--red);
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}