/* Fonts */
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/static/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Header parent div */
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 4;
}

/* Application logo */
.logo-icon {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 3;
    background: transparent;
    display: flex;
    align-items: center;
    transition: width, left 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.logo-icon {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    opacity: 100%;
    cursor: pointer;
    color: var(--text-color);
    background: transparent;
    transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.logo-icon:hover {
    cursor: pointer;
    background: var(--secondary-color);
    transition: background 0.3s ease;
}

.logo-icon.hidden {
    opacity: 0%;
    cursor: default;
    transition: opacity 0.3s ease;
}

.logo-text {
    position: fixed;
    left: var(--logo-left-margin);
    font-family: 'SpaceGrotesk';
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-color);
    transition: color 0.3s ease, left 0.3s ease;
}

/* Settings button */
.settings {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 7.5px;
    right: 7.5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: var(--text-color);
    background: transparent;
    transition: background 0.3s ease, color 0.3s ease;
}

.settings svg {
    fill: var(--text-color);
    transition: fill 0.3s ease;
}

.settings:hover {
    cursor: pointer;
    background: var(--secondary-color);
    transition: background 0.3s ease;
}

/* Mobile styling */
@media (max-width: 480px) {
    .logo-text {
        left: 50%;
        transform: translateX(-50%);
    }
}