@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/static/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/static/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.modal-background {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-background.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    height: auto;
    min-height: 200px;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    line-height: 1.75;
    color: var(--text-color);
    overflow: auto;
}

.x {
    display: flex;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}

.x:hover {
    background: var(--secondary-color);
    transition: background 0.3s ease;
}

.x svg {
    width: 100%;
    height: 100%;
    align-self: center;
}

.title {
    width: 100%;
    height: auto;
    color: var(--text-color);
    font-family: 'SpaceGrotesk';
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}