/* Fonts */
@font-face {
    font-family: 'Satoshi';
    src: url('/static/fonts/Satoshi-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/static/fonts/Satoshi-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Sidebar parent div */
.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 4;
    background: var(--secondary-color);
    transform: translateX(var(--sidebar-pos));
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.sidebar.hidden {
    transform: translateX(calc(var(--sidebar-pos) * -1));
    padding: 0px;
    margin: 0px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Div container for top buttons */
.top-buttons {
    display: flex;
    width: calc(100% - 20px);
    height: 32px;
    padding: 0px 10px;
    margin: 10px 0px;
}

/* Close button */
.close {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 32px;
    height: 32px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: transparent;
    color: var(--text-color);
    transition: background 0.3s ease, color 0.3s ease;
}

.close:hover {
    background: var(--primary-color);
    transition: background 0.3s ease;
}

/* New chat button */
.compose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 5px;
    margin-left: auto;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: transparent;
    color: var(--text-color);
    transition: background 0.3s ease, color 0.3s ease;
}

.compose:hover {
    background: var(--primary-color);
    transition: background 0.3s ease;
}