:root {
    --primary-color: #F5F5F5;
    --secondary-color: #E0E0E0;
    --text-color: #2D2D2D;
    --red: #AA1111;
    --sidebar-width: 250px;
    --sidebar-pos: calc(var(--sidebar-width) * -1);
    --header-width: calc(100% - var(--sidebar-width));
    --logo-left-margin: 50px;
    --theme-button-rotation: 0deg;
    --content-width: 100%;
    --hamburger-opacity: 100%;
}

[data-theme="dark"] {
    --primary-color: #2D2D2D;
    --secondary-color: #1A1A1A;
    --text-color: #EAEAEA;
    --red: #AA1111;
    --sidebar-width: 250px;
    --sidebar-pos: calc(var(--sidebar-width) * -1);
    --header-width: calc(100% - var(--sidebar-width));
    --logo-left-margin: 50px;
    --theme-button-rotation: 180deg;
    --content-width: 100%;
    --hamburger-opacity: 100%;    
}

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: var(--primary-color);
    transition: background 0.3s ease;
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 0px;
}