:root {
    --primary-color: #F7F9FB;
    --secondary-color: #DCE2E8;
    --text-color: #2D3440;
    --red: #C1272D;

    --sidebar-width: 250px;
    --sidebar-pos: calc(var(--sidebar-width) * -1);
    --header-width: calc(100% - var(--sidebar-width));
    --logo-left-margin: 50px;
    --content-width: 100%;
    --hamburger-opacity: 100%;
}

[data-theme="dark"] {
    --primary-color: #2B3038;
    --secondary-color: #191D23;
    --text-color: #D9DEE5;
    --red: #C1272D;

    --sidebar-width: 250px;
    --sidebar-pos: calc(var(--sidebar-width) * -1);
    --header-width: calc(100% - var(--sidebar-width));
    --logo-left-margin: 50px;
    --content-width: 100%;
    --hamburger-opacity: 100%; 
}

/* General scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-track {
    background: transparent;
    cursor: default;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: var(--primary-color);
    transition: background 0.3s ease;
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 0px;
}