/* Light mode */
:root {
    --primary-color: #F8F8F8;
    --secondary-color: #E0E0E0;
    --text-color: #333333;
    --red: #C1272D;

    --sidebar-width: 250px;
    --sidebar-pos: calc(var(--sidebar-width) * -1);
    --header-width: calc(100% - var(--sidebar-width));
    --logo-left-margin: 50px;
    --content-width: 100%;
    --hamburger-opacity: 100%;
}

/* Dark mode */
[data-theme="dark"] {
    --primary-color: #2A2A2A;
    --secondary-color: #1A1A1A;
    --text-color: #F0F0F0;
    --red: #C1272D;

    --sidebar-width: 250px;
    --sidebar-pos: calc(var(--sidebar-width) * -1);
    --header-width: calc(100% - var(--sidebar-width));
    --logo-left-margin: 50px;
    --content-width: 100%;
    --hamburger-opacity: 100%;
}

/* General scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-track {
    background: transparent;
    cursor: default;
}

/* Parent wrapper div */
.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: var(--primary-color);
    transition: background 0.3s ease;
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 0px;
}